* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.card h2,
.card p,
.card h3 {
  font-weight: 100;
  font-size: 14px;
}

.cards {
  height: 100vh;
  width: 100%;
  padding: 0px 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 360px;
  height: auto;
  border: 1px solid rgb(178, 174, 174);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.card .text-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 15px;
}

.card img {
  width: 360px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  height: 200px;
  object-fit: cover;
}
.text-row {
  color: gray;
  display: flex;
  justify-content: space-between;
}
.text-input {
  display: flex;
  gap: 5px;
  padding: 4px 10px;
  color: gray;
  background-color: rgb(213, 213, 228);
  width: fit-content;
  border-radius: 4px;
}
button {
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
}

.text-content > p {
  color: midnightblue;
}
.green {
  color: white;
  font-weight: bolder;
  background-color: rgb(123, 185, 123);
}
.light-green {
  background-color: rgb(189, 204, 189);
  color: green;
}

.relative > h1 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 22px;
  color: white;
}
.relative {
  position: relative;
}

.overlay {
  height: 100%;
  position: absolute;
  width: 360px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(240, 154, 240, 0) 77%,
    rgba(0, 0, 0, 1) 100%
  );
  /* background-color: rgba(0, 0, 0, 0.25); */
}
